<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Температура</title>
  <style>
  .text {
      font-family: 'JetBrains Mono', 'Fira Code', 'Courier New', monospace;
      font-size: 18px;
      color: #660000;
      background-color: #f4f4f4;
      padding: 10px;
      border-radius: 5px;
  }
  .color{
      color: #660000;
      lenght:100px;
      width: 100px;
      
  }
  
  </style>
</head>
<body>
<p class="text">Введіть температуру⭣</p>
<div class="color">
  
</div>
</body>
</html>
