<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>–Ч–∞–њ–Њ–≤–љ–µ–љ–љ—П –Р–љ–Ї–µ—В–Є</title>
  <link rel="stylesheet" href="style.css">

</head>
<body>
<p class="text">–Т–≤–µ–і—Ц—В—М —В–µ–Љ–њ–µ—А–∞—В—Г—А—Гв≠£</p>
</body>
</html>
