<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Заповнення Анкети</title>
  <link rel="stylesheet" href="style.css">
</head>
<%  class Table

      def initialize(input)
      @input = input
      end

    end
%>
<body>
<form action="/users" method="GET">
  <label>
    <input class="input" name="user_name" placeholder="Введіть ваше ім'я...">
    <button class="but" type="submit">Hi</button>
  </label>
</form>

<% if params["user_name"] && params["user_name"] != "" %>
  <p style="font-family: 'JetBrains Mono'; color: #660000; font-size: 20px;">
    Привіт, <%= params["user_name"] %>!
  </p>
<% end %>
</body>
</html>
